AUTH_SECRET=ZRHGeLhVKgZ3o8db/z2gTIOwiSeAsDK5gI3ynzGNaHw=# you can generate it with openssl rand -base64 32
AUTH_URL=http://localhost:3000
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB_NAME
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
