# AUTH_SECRET=YOUR_AUTH_SECRET			TO DELETE?
# AUTH_URL=YOUR_AUTH_URK				TO DELETE?

BETTER_AUTH_SECRET=YOUR_AUTH_SECRET # you can generate it with openssl rand -base64 32
BETTER_AUTH_URL=YOUR_APP_URL
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB_NAME
NEXT_PUBLIC_URL=YOUR_NEXT_PUBLIC_URL
NEXT_PUBLIC_SOCKET_URL=YOUR_NEXT_PUBLIC_SOCKET_URL
