AUTH_SECRET=YOUR_AUTH_SECRET # you can generate it with openssl rand -base64 32
AUTH_URL=YOUR_AUTH_URK
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB_NAME