BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET # generate it with `openssl rand 32 | base64`
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB_NAME
NEXT_PUBLIC_URL=https://dice.your.domain
NEXT_PUBLIC_SOCKET_URL=https://socket.your.domain
GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET
PANGOLIN_ENDPOINT=YOUR_PANGOLIN_ENDPOINT
NEWT_ID=YOUR_NEWT_ID
NEWT_SECRET=YOUR_NEWT_SECRET