.input {
  width: 100%;
  /* padding: 0.5rem 1rem; */
  border: 1px solid var(--light);
  /* border-radius: 8px; */
  font-size: 1rem;
}

.input::placeholder {
  color: var(--light);
}

.input:focus {
  outline: none;
  border-color: var(--light);
  box-shadow: 0 0 0 3px var(--light);
}
