.pattern {
    position: fixed;
    inset: -1100px;
    background: url(../../public/pattern.png) repeat;
    background-repeat: repeat;
    background-size: 600px;
    z-index: -1;
    animation: mover 30s linear infinite;
}

@media (prefers-color-scheme: dark) {
    .pattern {
        opacity: 0.2;
    }
}

@keyframes mover {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(600px, 600px);
    }
}

.pattern.paused {
    animation-play-state: paused;
}